<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <a
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    [routerLink]="['/']"
  >
    <mat-icon>home</mat-icon>
  </a>
  <a
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    [routerLink]="['users']"
  >
    <mat-icon>account_circle</mat-icon>
  </a>
  <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['albums']">
    <mat-icon>photos</mat-icon>
  </a>
  <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['posts']">
    <mat-icon>book</mat-icon>
  </a>
  <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['todos']">
    <mat-icon>task</mat-icon>
  </a>
</mat-toolbar>
